{% include "interfaces.jinja" %}

{% include "vlans.jinja" %}

{% include "policy.jinja" %}

{% include "bgp_and_evpn.jinja" %}

{% include "switch_options.jinja" %}

{% include "routing_options.jinja" %}
