{% set bgp = property_sets.system_properties.bgp %}
routing-options {
    forwarding-table {
        export ECMP;
    }
    router-id {{ bgp.router_id }};
    autonomous-system {{ bgp.as_number }};
}
