{% set switch_options = property_sets.system_properties.switch_options %}
switch-options {
    vtep-source-interface {{ switch_options.vtep_source }};
    route-distinguisher {{ switch_options.rd }};
    {% if property_sets.system_properties.role == "leaf" %}
    vrf-import {{ property_sets.system_properties.location }}_Import;
    {% endif %}
    vrf-target {
        target:{{ switch_options.vrf_target }};
        auto;
    }
}
